{% extends 'base.html' %}
{% load static %}

{% block body %}

    <!-- ========== MAIN CONTENT ========== -->
    <main id="content" role="main">
        <div class="bg-primary-dark position-relative overflow-hidden">
          <section class="search-sec">
            <div class="container">
                <form action="#" method="post" novalidate="novalidate">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                              <div class="col-lg-3 col-md-3 col-sm-12 p-0 searchTxt">
                                <h4>Search for Articles: </h4>
                              </div>
                              <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                  <select class="form-control search-slt">
                                      <option>Choose Author</option>
                                      <option>Noman Abdullah</option>
                                      <option>Jhon Smith</option>
                                      <option>Noman Abdullah</option>
                                      <option>Noman Abdullah</option>
                                      <option>Noman Abdullah</option>
                                  </select>
                              </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                    <input type="text" class="form-control search-slt" placeholder="Keywords">
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                    <button type="button" class="btn btn-danger wrn-btn">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        </div>
  
        <div class="mainContent">
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-md-3">
                <div class="leftContent">
                  <div class="getaccess">
                    <h3>Get Access</h3>
                    <form action="#">
                      <input type="text" name="username" value="" placeholder="Email or Username">
                      <input type="password" name="pass" value="" placeholder="Password">
                      <ul class="loginbtn">
                        <!-- Log in -->
                        <li class="nav-item">
                          <a class="js-animation-link btn btn-softmybtn btn-no-focus me-2 me-lg-0" href="javascript:;" role="button" data-bs-toggle="modal" data-bs-target="#signupModal"
                            data-hs-show-animation-options='{
                                    "targetSelector": "#signupModalFormLogin",
                                    "groupName": "idForm"
                                  }'><i class="bi-person-circle me-1"></i> Log in</a>
  
                          <a class="js-animation-link d-lg-none btn btn-mybtn" href="javascript:;" role="button" data-bs-toggle="modal" data-bs-target="#signupModal"
                            data-hs-show-animation-options='{
                                    "targetSelector": "#signupModalFormSignup",
                                    "groupName": "idForm"
                                  }'>
                            <i class="bi-person-circle me-1"></i> Sign up
                          </a>
                        </li>
                        <!-- End Log in -->
  
                        <!-- Sign up -->
                        <li class="nav-item">
                          <a class="js-animation-link d-none d-lg-inline-block btn btn-mybtn" href="javascript:;" role="button" data-bs-toggle="modal" data-bs-target="#signupModal"
                            data-hs-show-animation-options='{
                                    "targetSelector": "#signupModalFormSignup",
                                    "groupName": "idForm"
                                  }'>
                            <i class="bi-person-circle me-1"></i> Sign up
                          </a>
                        </li>
                        <!-- End Sign up -->
                      </ul>
                    </form>
                  </div>
                </div>
                <div class="jbrowser leftContent">
                  <h3>Jurnal Browser</h3>
                  <form action="#">
                    <select class="form-control" name="" id="">
                      <option value="">Volume</option>
                      <option value="">22</option>
                      <option value="">23</option>
                      <option value="">24</option>
                      <option value="">25</option>
                      <option value="">26</option>
                    </select>
                    <select class="form-control" name="" id="">
                      <option value="">Issue</option>
                      <option value="">fa</option>
                      <option value="">af</option>
                    </select>
                    <button type="button" class="btn btn-mybtn btn-sm">Go</button>
                  </form>
                </div>
                <div class="lbook leftContent haArticle">
                  <h3>Highly Accessed Articles</h3>
                  <div class="singleLbook">
                    <span>Article</span>
                    <p><a href="#">An Open-Source, Durable, and Low-Cost Alternative to Commercially Available Soil Temperature Data Loggers</a></p>
                    <p class="bywhom">by <a href="">Salvatore R. Curasi</a> et al.</p>
                    <p class="sensor"><em>Sensors 2022</em></p>
                    <p class="publishedArt">Published: 27 December 2021</p>
                    <div class="Aimgbox">
                      <a href=""><img src="{% static 'img/a2.png' %}" alt=""></a>
                    </div>
                  </div>
                  <div class="singleLbook">
                    <span>Article</span>
                    <p><a href="#">Differences in the Asymmetry of Beat-to-Beat Fetal Heart Rate Accelerations and Decelerations at Preterm and Term Active Labor</a></p>
                    <p class="bywhom">by <a href="">Carolina López-Justo</a> et al.</p>
                    <p class="sensor"><em>Sensors 2021</em></p>
                    <p class="publishedArt">Published: 10 December 2021</p>
                    <div class="Aimgbox">
                      <a href=""><img src="{% static 'img/a1.png' %}" alt=""></a>
                    </div>
                  </div>
                  <a href=""><p>View More...</p></a>
                </div>
                <div class="lbook leftContent">
                  <h3>Latest Books</h3>
                  <div class="singleLbook">
                    <span>Reprint Book</span>
                    <p><a href="#">Implementation of Sensors and Artificial Intelligence for Environmental Hazards Assessment in Urban, Agriculture and Forestry Systems </a></p>
                    <p class="bookEditior">Editors: Sigfredo Fuentes, Ranjith R Unnithan, Eden Tongson, Nir Lipovetzky </p>
                    <div class="imgbox">
                      <div class="imgInnerBox">
                        <a href=""><img src="{% static 'img/b1.jpg' %}" alt=""></a>
                      </div>
                    </div>
                  </div>
                  <div class="singleLbook">
                    <span>Reprint Book</span>
                    <p><a href="#">Advances in Sensors and Sensing for Technical Condition Assessment and NDT</a></p>
                    <p class="bookEditior">Editors: Tomasz Boczar, Michał Kunicki, Daria Wotzka, Łukasz Nagi, Michał Kozioł</p>
                    <div class="imgbox">
                      <div class="imgInnerBox">
                        <a href=""><img src="{% static 'img/b2.jpg' %}" alt=""></a>
                      </div>
                    </div>
                  </div>
                  <a href=""><p>More Open Access Books...</p></a>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="middleContent">
                  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active" data-bs-interval="10000">
                        <img src="{% static 'img/1.jpg' %}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>First slide label</h5>
                          <p>Some representative placeholder content for the first slide.</p>
                        </div>
                      </div>
                      <div class="carousel-item" data-bs-interval="2000">
                        <img src="{% static 'img/2.jpg' %}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Second slide label</h5>
                          <p>Some representative placeholder content for the second slide.</p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="{% static 'img/3.jpg' %}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>Third slide label</h5>
                          <p>Some representative placeholder content for the third slide.</p>
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                  <div class="latestArticle">
                    <h3>Latest Article</h3>
                    <div class="singleArticle">
                      <div class="atricleStatus">
                        <p type="button" class="accessbtn" data-bs-toggle="tooltip" data-bs-placement="bottom" title="All articles published by MDPI are made immediately available worldwide under an open access license. No special permission is required to reuse all or part of the article published by MDPI, including figures and tables. For articles published under an open access Creative Common CC BY license, any part of the article may be reused without permission provided that the original article is clearly cited. ">
                          Open Access
                        </p>
                        <span class="articleCat">Article</span>
                      </div>
                      <div class="articleTitle">
                        <a href="articleDetails.html"><strong><p>Optimal Design of PV Systems in Electrical Distribution Networks by Minimizing the Annual Equivalent Operative Costs through the Discrete-Continuous Vortex Search Algorithm</p></strong></a>
                      </div>
                      <div class="articleAuthor">
                        <span>By </span>
                        <ul>
                          <li><i class="fas fa-user-tie"></i><a href="">Noman Abdullah</a></li>
                          <li><i class="fas fa-user-tie"></i><a href="">Shezan Mahmud</a></li>
                          <li><i class="fas fa-user-tie"></i><a href="">Khaled Masud</a></li>
                          <li><i class="fas fa-user-tie"></i><a href="">Jaman Abdullah</a></li>
                          <li><i class="fas fa-user-tie"></i><a href="">Noman Abdullah</a></li>
                          <li><i class="fas fa-user-tie"></i><a href="">Noman Abdullah</a></li>
                        </ul>
                      </div>
                      <span><em>Sensors 2022</em>, 22(3), 851; https://doi.org/10.3390/s22030851 (registering DOI) - 23 Jan 2022 </span>
                      <div class="abstract">
                        <p><a href="">Abstract</a> This paper discusses the minimization of the total annual operative cost for a planning period of 20 years composed by the annualized costs of the energy purchasing at the substation bus summed with the annualized investment costs in photovoltaic (PV) sources, including their <a href="">[...] Read more.</a></p>
                        <p>(This article belongs to the Special Issue <a href="">Sensor Networks: Physical and Social Sensing in the IoT</a>)</p>
                        <a href=""><i class="fas fa-angle-double-right"></i> Show Figures </a>
                      </div>
                    </div>
  
                    <div class="singleArticle">
                      <div class="atricleStatus">
                        <p type="button" class="accessbtn" data-bs-toggle="tooltip" data-bs-placement="bottom" title="All articles published by MDPI are made immediately available worldwide under an open access license. No special permission is required to reuse all or part of the article published by MDPI, including figures and tables. For articles published under an open access Creative Common CC BY license, any part of the article may be reused without permission provided that the original article is clearly cited. ">
                          Open Access
                        </p>
                        <span class="articleCat">Article</span>
                      </div>
                      <div class="articleTitle">
                        <a href="articleDetails.html"><strong><p>Optimal Design of PV Systems in Electrical Distribution Networks by Minimizing the Annual Equivalent Operative Costs through the Discrete-Continuous Vortex Search Algorithm</p></strong></a>
                      </div>
                      <div class="articleAuthor">
                        <span>By </span>
                        <ul>
                          <li><i class="fas fa-user-tie"></i><a href="">Noman Abdullah</a></li>
                          <li><i class="fas fa-user-tie"></i><a href="">Shezan Mahmud</a></li>
                          <li><i class="fas fa-user-tie"></i><a href="">Khaled Masud</a></li>
                          <li><i class="fas fa-user-tie"></i><a href="">Jaman Abdullah</a></li>
                          <li><i class="fas fa-user-tie"></i><a href="">Noman Abdullah</a></li>
                          <li><i class="fas fa-user-tie"></i><a href="">Noman Abdullah</a></li>
                        </ul>
                      </div>
                      <span><em>Sensors 2022</em>, 22(3), 851; https://doi.org/10.3390/s22030851 (registering DOI) - 23 Jan 2022 </span>
                      <div class="abstract">
                        <p><a href="">Abstract</a> This paper discusses the minimization of the total annual operative cost for a planning period of 20 years composed by the annualized costs of the energy purchasing at the substation bus summed with the annualized investment costs in photovoltaic (PV) sources, including their <a href="">[...] Read more.</a></p>
                        <p>(This article belongs to the Special Issue <a href="">Sensor Networks: Physical and Social Sensing in the IoT</a>)</p>
                        <a href=""><i class="fas fa-angle-double-right"></i> Show Figures </a>
                      </div>
                    </div>
  
                    <div class="singleArticle">
                      <div class="atricleStatus">
                        <p type="button" class="accessbtn" data-bs-toggle="tooltip" data-bs-placement="bottom" title="All articles published by MDPI are made immediately available worldwide under an open access license. No special permission is required to reuse all or part of the article published by MDPI, including figures and tables. For articles published under an open access Creative Common CC BY license, any part of the article may be reused without permission provided that the original article is clearly cited. ">
                          Open Access
                        </p>
                        <span class="articleCat">Article</span>
                      </div>
                      <div class="articleTitle">
                        <a href=""><strong><p>Optimal Design of PV Systems in Electrical Distribution Networks by Minimizing the Annual Equivalent Operative Costs through the Discrete-Continuous Vortex Search Algorithm</p></strong></a>
                      </div>
                      <div class="articleAuthor">
                        <span>By </span>
                        <ul>
                          <li><i class="fas fa-user-tie"></i><a href="">Noman Abdullah</a></li>
                          <li><i class="fas fa-user-tie"></i><a href="">Shezan Mahmud</a></li>
                          <li><i class="fas fa-user-tie"></i><a href="">Khaled Masud</a></li>
                          <li><i class="fas fa-user-tie"></i><a href="">Jaman Abdullah</a></li>
                          <li><i class="fas fa-user-tie"></i><a href="">Noman Abdullah</a></li>
                          <li><i class="fas fa-user-tie"></i><a href="">Noman Abdullah</a></li>
                        </ul>
                      </div>
                      <span><em>Sensors 2022</em>, 22(3), 851; https://doi.org/10.3390/s22030851 (registering DOI) - 23 Jan 2022 </span>
                      <div class="abstract">
                        <p><a href="">Abstract</a> This paper discusses the minimization of the total annual operative cost for a planning period of 20 years composed by the annualized costs of the energy purchasing at the substation bus summed with the annualized investment costs in photovoltaic (PV) sources, including their <a href="">[...] Read more.</a></p>
                        <p>(This article belongs to the Special Issue <a href="">Sensor Networks: Physical and Social Sensing in the IoT</a>)</p>
                        <a href=""><i class="fas fa-angle-double-right"></i> Show Figures </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3">
                <div class="rightContent">
                  <div class="lbook leftContent News">
                    <h3>News</h3>
                    <div class="singleNews">
                      <span>21 January 2022</span>
                      <p><a href="#">Meet Us at the 9th International Symposium on Sensor Science (I3S 2022), 20–22 June 2022, Warsaw, Poland</a></p>
                      <div class="newsImage">
                        <a href="#"><img src="{% static 'img/news/1.jpg' %}" alt=""></a>
                      </div>
                    </div>
                    
                    <div class="singleNews">
                      <span>7 February 2022</span>
                      <p><a href="#">Meet Us Virtually at the Topic Workshop | Scientific Advances in STEM, 12 January 2022</a></p>
                      <div class="newsImage">
                        <a href="#"><img src="{% static 'img/news/2.jpg' %}" alt=""></a>
                      </div>
                    </div>
                    
                    <div class="singleNews">
                      <span>21 January 2022</span>
                      <p><a href="#">Meet Us at the 9th International Symposium on Sensor Science (I3S 2022), 20–22 June 2022, Warsaw, Poland</a></p>
                      <div class="newsImage">
                        <a href="#"><img src="{% static 'img/news/1.jpg' %}" alt=""></a>
                      </div>
                    </div>
                    <a href=""><p>More News & Announcements...</p></a>
                  </div>
  
                  <div class="lbook leftContent News">
                    <h3>Topics</h3>
                    <div class="singletopic">
                      <p class="topic">Topic in <em>Applied Sciences, Automation, Robotics, BDCC, Sensors</em></p>
                      <p><a href="#">New Frontiers in Industry 4.0</a></p>
                      <p class="topicEditor">Editors-in-Chief: Nikolaos Papakostas, Sotiris Makris</p>
                      <span>Deadline: 31 March 2022</span>
                    </div>
                    
                    <div class="singletopic">
                      <p class="topic">Topic in <em>ASI, Sensors, Algorithms, AI, JSAN</em></p>
                      <p><a href="#">Data Analytics and Machine Learning in Artificial Emotional Intelligence</a></p>
                      <p class="topicEditor">Editor-in-Chief: Friedhelm Schwenker</p>
                      <span>Deadline: 30 April 2022</span>
                    </div>
                    
                    <div class="singletopic">
                      <p class="topic">Topic in <em>Sensors, Future Internet, Information, J. Imaging, MTI</em></p>
                      <p><a href="#">Augmented and Mixed Reality</a></p>
                      <p class="topicEditor">Editors-in-Chief: Andrea Sanna, Federico Manuri, Francesco De Pace</p>
                      <span>Deadline: 31 May 2022</span>
                    </div>
  
                    <div class="singletopic">
                      <p class="topic">Topic in <em>AI, Applied Sciences, Data, Sensors, Systems</em></p>
                      <p><a href="#">Methods for Data Labelling for Intelligent Systems</a></p>
                      <p class="topicEditor">Editors-in-Chief: Emma Tonkin, Kristina Yordanova</p>
                      <span>Deadline: 30 June 2022</span>
                    </div>
                    <a href=""><p>More Topics...</p></a>
                  </div>
                  
                  <div class="lbook leftContent News">
                    <h3>Conferences</h3>
                    <div class="singleNews">
                      <span>20–22 June 2022</span>
                      <p><a href="#">9th International Symposium on Sensor Science - I3S 2022</a></p>
                      <div class="newsImage">
                        <a href="#"><img src="{% static 'img/news/3.png' %}" alt=""></a>
                      </div>
                    </div>
                    
                    <div class="singleNews">
                      <span>14–16 April 2022</span>
                      <p><a href="#">8th International Symposium on Sensor Science - China</a></p>
                      <div class="newsImage">
                        <a href="#"><img src="{% static 'img/news/4.png' %}" alt=""></a>
                      </div>
                    </div>
                    
                    <a href=""><p>More Conferences...</p></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
  
        <div class="border-top mx-auto" style="max-width: 30rem;"></div>
  
    
        
      </main>
      <!-- ========== END MAIN CONTENT ========== -->
  
     
{% endblock %}
